/*Hide Div class*/
.hide {
    display: none;
}
/*html classes*/
.HS {
    display: inline-block;
    position: sticky;
    margin-left: 50px;
    

}

.Timer {
    display: inline-block;
    position: sticky;
    margin-left: 400px;
    
    
}

button {
    background-color: blueviolet;
    color: white;
    display: block;
}
.container {
    margin: auto;
    margin-top: 50px;

}
.submit {
    background-color: blueviolet;
    color: white;

}
/*style for new HS*/
.listE {
    background-color: lightgrey;

}

