.hide {
    display: none;
}

.HS {
    position: sticky;
    margin-left: 50px;
    display: inline-block;

}

.Timer {
    position: sticky;
    margin-left: 500px;
    display: inline-block;
    
}

button {
    background-color: blueviolet;
    color: white;
    display: block;
}
.container {
    margin: auto;
    margin-top: 50px;

}
.submit {
    background-color: blueviolet;
    color: white;

}
.listE {
    background-color: lightgrey;

}
